/* DatePickerContainer.css */

.date-picker-container {
  position: relative;
  margin-bottom: 20px;
}

.date-picker-container label {
  font-size: 18px;
  margin-bottom: 5px;
  gap: 10px;
}

.date-time-picker {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 10px;
}

.formatted-date {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.3s ease-in-out;
}

.formatted-date:hover {
  border-color: #007bff;
}

.react-calendar {
  margin-top: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  display: none;
}

.date-time-inputs:hover .react-calendar {
  display: block;
}
