/* App.css */
.App {
  text-align: center;
}

.card-container {
  display: flex;
  /* flex-direction: column; */
}

.card {
  width: 45%;
  flex: 1;
  margin: 40px;
  padding: 40px;
  border: 10px solid #ddd;
  border-radius: 20px;
}

.home-container{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}

/* Add any additional styling based on your design */
